<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>NotForzq Blog 505</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link href="../../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<nav class="ui inverted segment attached my-padding-tb" th:replace="blog_fragment :: menu">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">NotForzq Blog</h2>
            <a class="item my-mobile-hide c-item my-font-bigsmall" href="index.html">💎首页</a>
            <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogClass.html">🎉分类</a>
            <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogTag.html">👣标签</a>
            <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogHome.html">🎐归档</a>
            <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogMy.html">🤪关于我</a>
            <div class="right c-item item my-mobile-hide ">
                <div class="ui icon input">
                    <input placeholder="Search" type=" text">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- 汉堡 -->
    <span class="ui black button my-hanbao my-mobile-show" href="#" id="toggle-menu"><span class="" style="font-size: 30px;">🍔</span></span>
</nav>

<br><br><br><br><br>+
<div class="ui container">
    <div class="ui error message">
        <br><br>
        <h1>505</h1>
        <p>对不起，您访问的页面资源不存在！</p>
        <a href="../index.html" th:href="@{/}">返回首页</a>
        <br><br>
    </div>
</div>
<br><br><br><br><br>
<!-- 底部 -->
<footer class="ui inverted vertical segment my-padding-shuxian my-margin-top-small " th:replace="blog_fragment :: footer">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid stackable">
            <div class="four wide  column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img class="ui rounded image" src="../../static/img/wx.jpg" style="height: 110px;" th:src="@{/img/wx.jpg}">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header my-opacity-font">最新博客</h4>
                <div class="ui inverted link list">
                    <a class="item" href="">学习资讯(study info)</a>
                    <a class="item" href="">关于如何高效学习</a>
                    <a class="item" href="">保持本心</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header my-opacity-font">联系我</h4>
                <div class="ui inverted link list">
                    <span class="item" href="">phone:15034344690</span>
                    <span class="item" href="">QQ:905866484</span>
                    <span class="item" href="">email:905866484@qq.com</span>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header my-opacity-font">NotForzq</h4>
                <div class="ui inverted link list">
                    <span class="item">------------------------</span>
                    <span class="item" href="#"> 学习不仅仅是为了自己！前方不会孤单！</span>
                    <span class="item">------------------------</span>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="item my-opacity-font" th:href="@{http://www.beian.miit.gov.cn/}">晋ICP备20001376号-1</p>
        <p class="item my-opacity-font">Welcome to notonlyzq blog, since 2020</p>
    </div>

</footer>
<script src="../../static/js/jquery-2.1.0.min.js" th:src="@{/js/jquery-2.1.0.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
    $("#toggle-menu").click(function() {
        $('.c-item').toggleClass('my-mobile-hide');
    });
</script>
</body>

</html>