<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>NotForzq 分类</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <canvas height="990" id="c_n9" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;" width="1920"></canvas>
    <script defer src="https://files.cnblogs.com/files/jeavy/canvas-nest.min.js"></script>
</head>

<body>
    <!-- 导航 -->
    <nav class="ui inverted segment attached my-padding-tb" th:replace="blog_fragment :: menu">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">NotForzq Blog</h2>
                <a class="item my-mobile-hide c-item my-font-bigsmall" href="index.html">💎首页</a>
                <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogClass.html">🎉分类</a>
                <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogTag.html">👣标签</a>
                <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogHome.html">🎐归档</a>
                <a class="item my-mobile-hide c-item my-font-bigsmall" href="blogMy.html">🤪关于我</a>
                <div class="right c-item item my-mobile-hide ">
                    <div class="ui icon input">
                        <input placeholder="Search" type=" text">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- 汉堡 -->
        <span class="ui black button my-hanbao my-mobile-show" href="#" id="toggle-menu"><span class="" style="font-size: 30px;">🍔</span></span>
    </nav>
    <br>
    <br>

    <!-- 中间内容 -->
    <div class="my-container centered">
        <div class="ui container">
            <div class="ui  stackable">
                <!-- 小标签 -->
                <div class="ui segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header" style="font-size: 24px;">分类</h3>
                        </div>
                        <div class="column right aligned">
                            共
                            <h2 class="ui purple header my-inline-block" th:text="${#arrays.length(types)}"> 14</h2> 种分类
                        </div>
                    </div>
                    <div class="ui segment purple basic">

                        <div class="ui labeled button my-tag-font mini" th:each="type : ${types}">
                            <a  class="ui purple button " href="#" th:classappend="${type.id != activeId}?'basic'" th:href="@{/type/{id}(id=${type.id})}" th:text="${type.name}">学习日志</a>
                            <div class="ui  label purple left pointing basic " th:text="${#arrays.length(type.blogs)}">16</div>
                        </div>

                        <!--/*-->
                        <div class="ui labeled button my-tag-font mini">
                            <a class="ui basic  teal button" href="#">疑难纠错</a>
                            <div class="ui label teal left pointing  basic">30</div>
                        </div>
                        <div class="ui labeled button my-tag-font mini">
                            <a class="ui basic  teal button" href="#">自我感悟</a>
                            <div class="ui label teal left pointing  basic">30</div>
                        </div>
                        <div class="ui labeled button my-tag-font mini">
                            <a class="ui basic  teal button" href="#">丰富生活</a>
                            <div class="ui label teal left pointing  basic">30</div>
                        </div>
                        <div class="ui labeled button my-tag-font mini">
                            <a class="ui basic  teal button" href="#">业余美食</a>
                            <div class="ui label teal left pointing  basic">30</div>
                        </div>
                        <!--*/-->
                    </div>
                </div>
                <!-- 内容 -->
                <div class="ui attached  " style="background-color: ghostwhite;">
                    <div class="ui segment" th:each="blog :${page.content}">
                        <div class="ui grid stackable mobile reversed ">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="blog.html"  style="font-size: 1.2em" th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}"> Java中的List你真的会用吗？</a></h3>
                                <p style="color: lightslategray;font-size: 1.1em" th:text="${blog.description}">List是Java中比较常用的集合类，关于List接口有很多实现类，本文就来简单介绍下其中几个重点的实现ArrayList、LinkedList和Vector之间的关系和区别。</p>
                                <div class="ui grid ">
                                    <div class="eleven wide column ">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img alt="" class="ui avatar image " src="../static/img/mytx.jpg" th:src="@{${blog.user.avatar}}">
                                                <div class="content" th:text="${blog.user.nickname}"><span href="#">李泽庆</span></div>
                                            </div>
                                            <br>
                                            <div class="item" style="margin-left: 2.6em !important;">
                                                ⏱<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-10-01</span>
                                            </div>
                                            <div class="item" >👁
                                                <span th:text="${blog.views}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aliened five wide column ">
                                        <a class="ui label teal basic my-opacity-font my-font-small" href="blog.html" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.type.name}">加深认知</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column ">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                                    <img alt="" class="ui  rounded image"  src="../static/img/list.jpg" th:src="@{${blog.img}}">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- 文章底部 -->
                <div class="ui  segment " th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column left aligned">
                            <a class="ui mini  button primary"  href="#" th:href="@{/type/{id}(id=${activeId},page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                        </div>
                        <div class="column right aligned">
                            <a class="ui mini  button primary" href="#" th:href="@{/type/{id}(id=${activeId},page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="ui inverted vertical segment my-padding-shuxian my-margin-top-small " th:replace="blog_fragment :: footer">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="four wide  column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img class="ui rounded image" src="../static/img/wx.jpg" style="height: 110px;">
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">最新博客</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="">学习资讯(study info)</a>
                        <a class="item" href="">关于如何高效学习</a>
                        <a class="item" href="">保持本心</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">联系我</h4>
                    <div class="ui inverted link list">
                        <span class="item" href="">phone:15034344690</span>
                        <span class="item" href="">QQ:905866484</span>
                        <span class="item" href="">email:905866484@qq.com</span>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header my-opacity-font">NotForzq</h4>
                    <div class="ui inverted link list">
                        <span class="item">------------------------</span>
                        <span class="item" href="#"> 学习不仅仅是为了自己！前方不会孤单！</span>
                        <span class="item">------------------------</span>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="item my-opacity-font">Welcome to notonlyzq blog, since 2020</p>
        </div>

    </footer>
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

        $("#toggle-menu").click(function() {
            $('.c-item').toggleClass('my-mobile-hide');
        });
    </script>
</body>

</html>